{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Samson Blog</title>
    <link rel="stylesheet" href="{% static 'CSS/base.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,900;1,700&family=Oswald:wght@500&family=Roboto+Condensed&family=Supermercado+One&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,900;1,700&family=Oswald:wght@500&family=Quintessential&family=Roboto+Condensed&family=Supermercado+One&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="nav-left">
            <h1><a href="{% url 'home' %}">Samson's Blog</a></h1>
        </div>
        <div class="nav-right">
            <a href="{% url 'post_new' %}">New Post</a>
        </div>
    </header>
    <hr>
    {% if user.is_authenticated %}
        <h3>Welcome {{ user.username }}.</h3>
        <p><a href="{% url 'logout' %}">Log Out</a></p>
    {% else %}
        <p>You are not logged in.</p>
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}
    <div>
        {% block content %}
        {% endblock content %}
    </div>
    
</body>
</html>